<suite name="EZLife Test Suite" verbose="1">

    <!-- Home Tests -->
    <test name="Home Tests">
        <classes>
            <class name="tests.HomeTest"/>
        </classes>
    </test>

    <!-- Product Tests -->
    <!-- <test name="Product Tests">
        <classes>
            <class name="tests.Producttest"/>
        </classes>
    </test>-->

</suite>